
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.my-h1{
    color: red;
    background-color: green;
}
.incorrecto{
    text-decoration: line-through;
    color:blue
}
ol{
    list-style: none;
}
li{
    position: relative;
    color:black;
}
.delete-task{

    
    position: absolute;
    right: 0;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    opacity: 0;
    color:red;

    
}
.delete-task:hover{
    opacity: 1;
}
